################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BuscaHeuristica/bin/Debug/net6.0
/BuscaHeuristica/obj
/.vs
